@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-family: "Montserrat", sans-serif;
    
}
/*----Header General----*/

.titulo {
    background-color: black;
    text-align: center;
}

.titulo h1 {
    color: white;
    font-size: 1em;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 0;
}

.navbar__primero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

#search {
    padding: 10px;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    width: 40vw;
    height: 3.5em;
    outline: none;
    font-size: 0.9em;
}

.nav__logo{
    width: 150px;
    height: 150px;
}

.nav__logo img {
    max-width: 100%;
    height: auto;
    min-width: 100%;
}

.iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.iconos__descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.iconos__descripcion span {
    text-align: center;
    margin: 5px 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: white;
    
}

.iconos__descripcion a {
    color: white;
    text-decoration: none;
}

.iconos__descripcion a:hover {
    color: yellow;
}

.fa-solid {
    color: rgb(189, 188, 188);
}

.navbar__segundo {
    border-top: 1px solid #716d6d;
    background-color: black;
}

.navbar__ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 6vh;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
}

.navbar__li{
    color: white;
    list-style: none;
    font-size: 14px;
}

.navbar__li a {
    text-decoration: none;
    color: white;
}

.navbar__li a:hover {
    color: yellow;
}

.carousel-inner img {
    height: 60vh;
    object-fit: cover;
}

/*-----Main Index-----*/

.titulo__h2-drop {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 20px 0px 0px;
    font-weight: 700;
}

.drop__carrusel {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    column-gap: 25px;
    margin: 40px auto;
}

.remera {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(185, 177, 177);
    transition: 0.5s;
    justify-content: center;
    align-items: center;
}

.remera:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.remera-img {
    width: 300px;
    height: 450px;
}

.botones__remera {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.btn-comprar {
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #1E1E1E;
    color: white;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.btn-ver {
    padding: 10px 30px;
    border-radius: 50px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.ofertas__contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 75px;
}

.ofertas__titulo {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.ofertas__descripcion {
    text-align: center;
    margin: 40px;
}

.ofertas__contenedor label {
    display: flex;
}

.ofertas__contenedor label input {
    width: 40vw;
    height: 50px;
    padding: 10px;
    font-size: 0.9em;
    border: 1px solid black;
    border-radius: 15px;
    outline: none;
    font-family: "Montserrat", sans-serif;
}


.seguinos__contenedor { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em auto;
}

.contenedor__titulo__icono--flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fa-brands {
    font-size: 35px;
    margin: 0 10px 10px 0;
}

.seguinos__contenedor h2 {
    font-size: 30px;
    font-weight: 700;
}

.seguinos__contenedor p {
    text-align: center;
}

.seguinos__contenedor button {
    font-size: 11px;
    font-family: "Montserrat", sans-serif;
    border: 1px solid black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}

/*----Footer Index-----*/

footer {
    background-color: rgba(0, 0, 0, .1);
}

footer img {
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    background-color: rgb(30, 29, 29);
    border-radius: 50%;
}

.caja__footer-flex { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.caja__footer-flex div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.caja__footer-flex div h3{
    font-size: 20px;
    margin-top: 20px;

}
.ul__footer {
    list-style: none;
    padding: 0;
}

.ul__footer li {
    text-align: center;
}

.ul__footer li a {
    color: #1E1E1E;
    text-decoration: none;
}

.ul__footer a:hover {
    color: #9c9999;
}

.copyright {
    background-color: black;;
}

.copyright p {
    color: white;
    margin: 0;
    height: 100px;
}

/*---INICIO DE CONTACTO.HTML---*/

/*---Contacto Main---*/

.contacto__contenedor {
    display: block;
    margin: 0 auto;
}

.contacto__h2 {
    color: black;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
    font-weight: 700;
    display: block;
    margin: 20px auto;
}

.form__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label-form {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px auto;
    align-items: center;
}

.input-form {
    width: 32vw;
    height: 40px;
    border-radius: 10px;
    border: 1px solid;
    outline: none;
    padding: 10px;
}

.input-form:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid yellow
}

textarea:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid yellow;
}

textarea {
    display: block;
    resize: none;
    width: 32vw;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    padding: 10px;
}

.button-form {
    display: block;
    background-color: black;
    color: white;
    padding: 20px 90px;
    border-radius: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    border: 1px solid white;
    margin: 0 0 20px 0;
}


/*---INICIO DE INICIOSESION.HTML ---*/

/*---Main InicioSesion---*/

.login__contenedor {
    display: block;
}

.login__h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.form__login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form__label {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.form__input {
    display: block;
    width: 32vw;
    height: 40px;
    border-radius: 10px;
    border: 1px solid;
    outline: none;
    padding: 10px;
}

.login__btn {
    background-color: black;
    color: white;
    padding: 20px 85px;
    border-radius: 100px;
    font-family: "Montserrat", sans-serif;
    margin:2em auto;
}

.recuperar-contraseña {
    text-align: center;
    margin-top: 20px;
}

/*----- INICIO DE NOSOTROS.HTML ------*/
/*---Main NOSOTROS---*/

.grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    margin: 40px 200px;
    column-gap: 20px;
}

.grid-hijo h2 {
    text-align: center;
    font-weight: 700;
}

.grid-hijo p {
    margin: 0px 0px 10px;
    text-align:justify
}

.grid-hijo b { 
    text-decoration: underline 3px solid yellow;
}

.letra__uno::first-letter { 

font-size: 6rem;
color: rgb(0, 0, 0);
float: left;
margin-right: 1rem;

}


/*-MEDIA QUERY RESPONSIVE -*/

@media (max-width: 768px) {
    #search {
        display: none;
    }

    .caja__footer-flex {
        display: flex;
        flex-direction: column;
    }

    }

@media (max-width: 1024px) {
        .grid__container {
        grid-template-columns: 1fr;
    }
}
