@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-family: "Montserrat", sans-serif;
    
}
/*----Header General----*/

header h1 {
    color: black;
    background-color: rgb(255, 255, 106);
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
    padding: 5px;
}

.bg-dark {
    background-color: rgb(0, 0, 0) !important;
}

.navbar-brand img {
    width: 100%;
    height: 100px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(246, 255, 0);
}

.collapse {
    display: flex;
    justify-content: center;
}


.navbar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-toggler {
    background-color: white !important;
}

.dropdown-toggle:focus {
    color: yellow;
}

.carousel-inner img {
    width: 100%;
    height: 60vh;
    object-fit: fill;
}

/*-----Main Index-----*/

.titulo__h2-drop {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 20px 0px 0px;
    font-weight: 700;
}


.cards__elegir-producto {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50vh;

}

.cards__elegir-producto img:hover {
    opacity: 1;
    transition: 0.5s ease;
}

.card__articulo {
    position: relative;
    width: 350px;
    height: 250px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: crosshair; 
}

.card__articulo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:  0.5s ease;
}

.card__articulo a:hover {
    cursor: crosshair;
}

.texto__oculto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(39, 37, 37, 0.7);
    transition: 0.5s ease;
    opacity: 0;
    visibility: visible;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto__oculto:hover {
    opacity: 1;
    visibility: visible;
}

.texto__oculto h5 {
    color: rgb(228, 228, 228);
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.5s ease;
}


.ofertas__contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 75px;
}

.ofertas__titulo {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.ofertas__descripcion {
    text-align: center;
    margin: 40px;
}

.ofertas__contenedor label {
    display: flex;
}

.ofertas__contenedor label input {
    width: 40vw;
    height: 50px;
    padding: 10px;
    font-size: 0.9em;
    border: 1px solid black;
    border-radius: 15px;
    outline: none;
    font-family: "Montserrat", sans-serif;
}


.seguinos__contenedor { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em auto;
}

.contenedor__titulo__icono--flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fa-brands {
    font-size: 35px;
    margin: 0 10px 10px 0;
}

.seguinos__contenedor h2 {
    font-size: 30px;
    font-weight: 700;
}

.seguinos__contenedor p {
    text-align: center;
}

.seguinos__contenedor button {
    font-size: 11px;
    font-family: "Montserrat", sans-serif;
    border: 1px solid black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}

/*----Footer Index-----*/

footer {
    background-color: rgba(0, 0, 0, .1);
}

footer img {
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    background-color: rgb(30, 29, 29);
    border-radius: 50%;
}

.caja__footer-flex { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.caja__footer-flex div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.caja__footer-flex div h3{
    font-size: 20px;
    margin-top: 20px;

}
.ul__footer {
    list-style: none;
    padding: 0;
}

.ul__footer li {
    text-align: center;
}

.ul__footer li a {
    color: #1E1E1E;
    text-decoration: none;
}

.ul__footer a:hover {
    color: #9c9999;
}

.copyright {
    background-color: black;;
}

.copyright p {
    color: white;
    margin: 0;
    height: 100px;
}








/*---INICIO DE CONTACTO.HTML---*/

.contacto__contenedor {
    display: block;
    margin: 0 auto;
}

.contacto__h2 {
    color: black;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
    font-weight: 700;
    display: block;
    margin: 20px auto;
}

.form__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label-form {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px auto;
    align-items: center;
}

.input-form {
    width: 32vw;
    height: 40px;
    border-radius: 10px;
    border: 1px solid;
    outline: none;
    padding: 10px;
}

.input-form:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid yellow
}

textarea:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid yellow;
}

textarea {
    display: block;
    resize: none;
    width: 32vw;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    padding: 10px;
}

.button-form {
    display: block;
    background-color: black;
    color: white;
    padding: 20px 90px;
    border-radius: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    border: 1px solid white;
    margin: 0 0 20px 0;
}








/*---INICIO DE INICIOSESION.HTML ---*/
.login__contenedor {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.mitad__uno {
    width: 40%;
}

.mitad__uno img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mitad__dos {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ebebeb
}

.login__h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
}

.form__login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__label {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.form__input {
    display: block;
    width: 20vw;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
    padding: 10px;
    margin: 0 auto;
}

.login__btn {
    background-color: black;
    color: white;
    padding: 20px 70px;
    border-radius: 40px;
    font-family: "Montserrat", sans-serif;
    margin:2em auto;
}

.recuperar-contraseña {
    text-align: center;
    margin-top: 20px;
}









/*----- INICIO DE NOSOTROS.HTML ------*/

.grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    margin: 40px 200px;
    column-gap: 20px;
}

.grid-hijo h2 {
    text-align: center;
    font-weight: 700;
}

.grid-hijo p {
    margin: 0px 0px 10px;
    text-align:justify
}

.grid-hijo b { 
    text-decoration: underline 3px solid yellow;
}

.letra__uno::first-letter { 
font-size: 6rem;
color: black;
float: left;
margin-right: 1rem;

}





/*-INICIO DE BUZOS, CARGOS Y REMERAS.HTML -*/



.subtitulo__main--producto {
    text-align: center;
    font-weight: 700;
    margin: 25px auto;
}

.contenedor__productos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px ;
}

.productos__celda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s;

}
.productos__celda:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.productos__celda img {
    width: 100%;
    height: 375px;
    object-fit: contain;
}

.botones__producto {
    display: flex;
    flex-direction: row;
}

.btn-comprar {
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #1E1E1E;
    color: white;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-right: 20px;
}

.btn-ver {
    padding: 10px 30px;
    border-radius: 50px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.descripcion__del__producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descuento {
    background-color: rgb(141, 30, 30);
    color: white;
    position: absolute;
    border-radius: 50px;
    top: 30px;
    left: 30px;
    width: 55px;
    height: 55px;
    text-align: center;
    font-weight: 600;
}

/*-MEDIA QUERY RESPONSIVE -*/

@media (max-width: 1200px) {
    /*- ELEMENTOS PRODUCTO -*/
    .contenedor__productos-grid {
        grid-template-columns: 1fr 1fr;
    }

}


@media (max-width: 1024px) { /*- TABLET -*/
    /*- ELEMENTOS PRODUCTO -*/
    .contenedor__productos-grid {
        grid-template-columns: 1fr 1fr;
    }

    /*- ELEMENTOS NOSOTROS.HTML -*/
    .grid__container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) { /*- MOBILE -*/

    /*- ELEMENTOS INICIOSESION.HTML -*/
    .mitad__uno {
        width: 0%;
    }

    .mitad__uno img {
        display: none;
    }

    .mitad__dos {
        width: 100%;
        background-color: rgb(252, 255, 171);
    }
    .form__input {
        width: 100%;
    }

    /*- ELEMENTOS INDEX -*/
    #search {
        display: none;
    }

    .caja__footer-flex {
        display: flex;
        flex-direction: column;
    }

    /*- ELEMENTOS REMERAS.HTML -*/

    .contenedor__productos-grid {
        grid-template-columns: 1fr;
    }

    /*---ELEMENTOS PRODUCTOS.HTML---*/

    .cards__elegir-producto {
        flex-direction: column;
        margin: 50px auto;
    }
    
    .card__articulo {
        margin: 10px;
    }

    }
