.main-producto {
    h3 {
        text-align: center;
        font-weight: 700;
        margin: 25px auto;
    }
    .contenedor__productos-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 25px ;
        margin-bottom: 20px;
        .productos__celda {
            @include flex(column, center, center);
            position: relative;
            transition: 0.5s;
            &:hover {
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            }
            img {
                width: 100%;
                height: 375px;
                object-fit: contain;
            }
            .descripcion__del__producto {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .botones__producto {
                display: flex;
                flex-direction: row;
                .btn-comprar {
                    @extend %estilos-boton_comprar;
                }
                .btn-ver {
                    @extend %estilos-boton_ver;
                }
                
            }
            .descuento {
                @extend %estilos-descuento;
            }
        }
        
    }
    
}