@media (max-width: 1024px) { // TABLET
    // MQ PRODUCTOS
    .main-producto .contenedor__productos-grid {
        grid-template-columns: 1fr 1fr;
    }

    //MQ CONTACTO 
    .contacto__contenedor form label input {
        width: 50vw;
    }

    .contacto__contenedor form label textarea {
        width: 50vw;
    }

}


@media (max-width: 768px) { //MOBILE
    // MQ INDEX HTML

    .main__index .cards__elegir-producto {
        flex-direction: column;
        margin: 50px auto;
        .card__articulo {
            width: 320px;
            margin: 10px;
        }
    }

    // MQ INICIO SESION HTML
    .login__contenedor .mitad__uno {
        width: 0%;
        .login__contenedor .mitad__uno img {
            display: none;
        }
    }

    .login__contenedor .mitad__dos {
        width: 100%;
        background-color: rgb(252, 255, 171);
    }
    .login__contenedor .mitad__dos form label input {
        width: 100%;
    }

    // MQ PRODUCTOS HTML 
    .main-producto .contenedor__productos-grid {
        grid-template-columns: 1fr;
    }

    // MQ CONTACTO

    .main__contacto .contacto__container-flex  form label input {
        width: 50vw;
    }

    .main__contacto .contacto__container-flex  form label textarea {
        width: 50vw;
    }

    .main__contacto .contacto__container-flex  form button {
        padding: 20px 40%;
    }

    .img-contact {
        display: none;
    }

    // FOOTER GENERAL

    footer .caja__footer-flex {
        display: flex;
        flex-direction: column;
    }
}